<mat-card *ngIf="course">
    <mat-card-header label="Main" *ngIf="course">
      <h3>{{ course.title }} course</h3>
    </mat-card-header>
  <mat-card-content>
    <mat-card>
      <div>
        <label>Progress: </label>{{ course.progress }}
      </div>
      <div>
        <label>Status: </label>{{ course.status}}
      </div>
    </mat-card>

    <mat-progress-bar mode="determinate" value={{course.progress}}></mat-progress-bar>
  </mat-card-content>
  <p>
    <button (click)="gotoCourses()">back</button>
  </p>
</mat-card>

