<mat-card *ngIf="course$">

  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Main" *ngIf="course$ | async as crs">
      <h3>"{{ crs.title }}"</h3>
      <div >
        <label>Progress: </label>{{ crs.progress }}
        <label>Status: </label>{{ crs.status}}
      </div>

    </mat-tab>
    <mat-tab label="Description" *ngIf="courseInfo$ | async as crsInfo">
      <div>
        <label>Description: </label>{{ crsInfo.description}}
        <label>Recommendation: </label>{{ crsInfo.recommendations}}
      </div>
    </mat-tab>
  </mat-tab-group>
  <p>
    <button (click)="gotoCourses()">back</button>
  </p>
</mat-card>

