<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['/courses']"
         routerLinkActive="active-link">
        Courses
      </a>
      <a mat-list-item
         [routerLink]="['/account']"
         *ngIf="!auth.loggedIn">Account</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Course tracker</span>
      <a
        mat-list-item
        fxFlex fxLayout fxLayoutAlign="flex-end"
        [routerLink]="['/login']"
        *ngIf="!auth.loggedIn"
        type="button">
        Log In
      </a>
      <a
        mat-list-item
        fxFlex fxLayout fxLayoutAlign="flex-end"
        [routerLink]="['/logout']"
        *ngIf="auth.loggedIn"
        type="button">
      </a>
      <a
        mat-list-item
        fxFlex fxLayout fxLayoutAlign="flex-end"
        [routerLink]="['/register']"
        *ngIf="!auth.loggedIn"
        type="button">
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

