<div fxLayout="column"
     fxLayoutAlign="center center"
     class="content">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="card login-card">
    <div fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          [formControl]="email">
        <mat-error *ngIf="email.invalid">
          {{getErrorEmail()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your password"
          [formControl]="password">
        <mat-error *ngIf="password.invalid">
          {{getErrorPass()}}
        </mat-error>
      </mat-form-field>
    </div>

      <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>


